<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Patient</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Ajouter un Patient</h1>
        <form th:action="@{/patients}" th:object="${patient}" method="post" class="card-body">
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" th:field="*{nom}" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="text" id="age" th:field="*{age}" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="datedenaissance">Date de Naissance:</label>
                <input type="date" id="datedenaissance" th:field="*{datedenaissance}" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="genre">Genre:</label>
                <input type="text" id="genre" th:field="*{genre}" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
        </form>

        <div class="my-4">
            <a th:href="@{/patients}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</body>
</html>
